html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(242, 247, 255);
  width: 100%; /* html과 body의 너비를 100%로 설정 */
}

#root {
  height: 100vh; /* root 영역을 화면 전체 높이로 설정 */
  width: 100%; /* root 영역의 너비를 화면 전체로 설정 */
  display: flex;
  flex-direction: column;
  overflow: hidden; /* 전체 페이지 스크롤 방지 */
}

.main-content {
  flex-grow: 1; /* main 영역이 남은 공간을 차지하도록 */
  overflow-y: auto; /* main 콘텐츠 영역에만 스크롤이 생기도록 설정 */
}

footer {
  color: white; /* footer 텍스트 색 */
  padding: 10px;
  text-align: center;
}


/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply text-cusBlack;
  }
}

.btn {
  @apply relative font-bold px-6 rounded-full border-transparent
  shadow-[inset_0px_2px_4px_rgba(255,255,255,0.2),inset_-0px_-2px_4px_rgba(0,0,0,0.2)]
  transition-all duration-300 ease-in-out transform scale-100 
}

.btn:hover {
  @apply hover:scale-105 hover:shadow-[inset_0px_2px_4px_rgba(255,255,255,0.2),inset_-0px_-2px_4px_rgba(0,0,0,0.2)]
}

.btn:active {
  @apply active:scale-95 active:shadow-[inset_0px_2px_4px_rgba(255,255,255,0.2),inset_-0px_-2px_4px_rgba(0,0,0,0.2)]
}

/* 비활성화된 버튼이 hover되더라도 효과가 없도록 설정 */
.btn:disabled,
.btn-disabled {
  @apply rounded-full scale-100 shadow-[inset_0px_2px_4px_rgba(255,255,255,0.2),inset_-0px_-2px_4px_rgba(0,0,0,0.2)]
  opacity-50 cursor-not-allowed;
}

/* 비활성화된 버튼에 hover 효과 방지 */
.btn:disabled:hover,
.btn-disabled:hover {
  @apply rounded-full scale-100 shadow-[inset_0px_2px_4px_rgba(255,255,255,0.2),inset_-0px_-2px_4px_rgba(0,0,0,0.2)];
}

.category {
  @apply px-4 py-2 shadow-[inset_0px_2px_4px_rgba(255,255,255,0.2),inset_-1px_-2px_4px_rgba(0,0,0,0.2)]
}


.clay {
  @apply rounded-lg shadow-[inset_0px_2px_4px_rgba(255,255,255,0.2),inset_-1px_-2px_4px_rgba(0,0,0,0.2)]
  transition-all duration-300 ease-in-out transform scale-100 
}


/* 길어지면 최대 2줄까지만 끊기게 설정정 */
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 최대 2줄 */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.loading {
  @apply w-10 h-10 border-4 border-gray-300 border-t-cusBlue rounded-full animate-spin
}