html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(242, 247, 255);
  width: 100%; /* html과 body의 너비를 100%로 설정 */
}

#root {
  height: 100vh; /* root 영역을 화면 전체 높이로 설정 */
  width: 100%; /* root 영역의 너비를 화면 전체로 설정 */
  display: flex;
  flex-direction: column;
  overflow: hidden; /* 전체 페이지 스크롤 방지 */
  padding-top: 0;
}

.main-content {
  flex-grow: 1; /* main 영역이 남은 공간을 차지하도록 */
  overflow-y: auto; /* main 콘텐츠 영역에만 스크롤이 생기도록 설정 */
}

footer {
  color: white; /* footer 텍스트 색 */
  padding: 10px;
  text-align: center;
}


/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply text-cusBlack;
  }
}

.btn {
  @apply relative font-bold px-6 rounded-full border-transparent
  shadow-[inset_0px_2px_4px_rgba(255,255,255,0.2),inset_-0px_-2px_4px_rgba(0,0,0,0.2)]
  transition-all duration-300 ease-in-out transform scale-100 
}

.btn:hover {
  @apply hover:scale-105 hover:shadow-[inset_0px_2px_4px_rgba(255,255,255,0.2),inset_-0px_-2px_4px_rgba(0,0,0,0.2)]
}

.btn:active {
  @apply active:scale-95 active:shadow-[inset_0px_2px_4px_rgba(255,255,255,0.2),inset_-0px_-2px_4px_rgba(0,0,0,0.2)]
}

/* 비활성화된 버튼이 hover되더라도 효과가 없도록 설정 */
.btn:disabled,
.btn-disabled {
  @apply rounded-full scale-100 shadow-[inset_0px_2px_4px_rgba(255,255,255,0.2),inset_-0px_-2px_4px_rgba(0,0,0,0.2)]
  opacity-50 cursor-not-allowed;
}

/* 비활성화된 버튼에 hover 효과 방지 */
.btn:disabled:hover,
.btn-disabled:hover {
  @apply rounded-full scale-100 shadow-[inset_0px_2px_4px_rgba(255,255,255,0.2),inset_-0px_-2px_4px_rgba(0,0,0,0.2)];
}

.category {
  @apply px-4 py-2 shadow-[inset_0px_2px_4px_rgba(255,255,255,0.2),inset_-1px_-2px_4px_rgba(0,0,0,0.2)]
}


.clay {
  @apply rounded-lg shadow-[inset_0px_2px_4px_rgba(255,255,255,0.2),inset_-1px_-2px_4px_rgba(0,0,0,0.2)]
  transition-all duration-300 ease-in-out transform scale-100 
}


/* 길어지면 최대 2줄까지만 끊기게 설정정 */
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 최대 2줄 */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.loading {
  @apply w-10 h-10 border-4 border-gray-300 border-t-cusBlue rounded-full animate-spin
}

/* NavBar Gooey Effect Styles */
.gooey-filter {
  filter: url(#gooey);
  z-index: 10;
}

.gooey-menu-item {
  @apply absolute w-36 h-12 bg-cusBlue/90 rounded-full clay transition-all duration-500 ease-in-out;
  box-shadow: 
    4px 4px 10px rgba(0, 0, 0, 0.2),
    -4px -4px 10px rgba(255, 255, 255, 0.7),
    inset 2px 2px 4px rgba(255, 255, 255, 0.1),
    inset -2px -2px 4px rgba(0, 0, 0, 0.1);
}

.gooey-menu-item-1 {
  @apply translate-y-0 opacity-0 scale-95;
}

.gooey-menu-item-1.active {
  @apply translate-y-[10px] opacity-100 scale-100;
}

.gooey-menu-item-2 {
  @apply translate-y-0 opacity-0 scale-95;
}

.gooey-menu-item-2.active {
  @apply translate-y-[75px] opacity-100 scale-100;
}

.gooey-menu-item-3 {
  @apply translate-y-0 opacity-0 scale-95;
}

.gooey-menu-item-3.active {
  @apply translate-y-[140px] opacity-100 scale-100;
}

.gooey-menu-item-4 {
  @apply translate-y-0 opacity-0 scale-95;
}

.gooey-menu-item-4.active {
  @apply translate-y-[205px] opacity-100 scale-100;
}

.gooey-menu-item-5 {
  @apply translate-y-0 opacity-0 scale-95;
}

.gooey-menu-item-5.active {
  @apply translate-y-[270px] opacity-100 scale-100;
}

.menu-link {
  @apply absolute w-36 h-12 flex items-center justify-start px-4 text-white transition-all duration-500 ease-in-out translate-y-0 opacity-0 pointer-events-none;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.menu-link i {
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2));
}

.menu-link:hover {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 
    inset 2px 2px 4px rgba(255, 255, 255, 0.1),
    inset -2px -2px 4px rgba(0, 0, 0, 0.1);
}

.menu-link.active {
  @apply opacity-100 pointer-events-auto;
}

.menu-link-1.active {
  @apply translate-y-[10px];
}

.menu-link-2.active {
  @apply translate-y-[75px];
}

.menu-link-3.active {
  @apply translate-y-[140px];
}

.menu-link-4.active {
  @apply translate-y-[205px];
}

.menu-link-5.active {
  @apply translate-y-[270px];
}